@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #171717;
  --background: #f8f9fc;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', 'Noto Sans JP', 'Noto Sans KR', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
